@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.about-section {
    width: 100%;
    position: relative;
    margin-top: 10%;
    background: white;
    padding: 40px 0;
}

.inner-width {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.about-section h1 {
    text-align: center;
}

.about-section-row {
    display: flex;
    flex-wrap: wrap;
}

.about-section-col {
    flex: 50%;
}

.about {
    padding-right: 30px;
    padding-bottom: 30px;
}

.about p {
    text-align: justify;
    margin-bottom: 20px;
}

.about a {
    display: inline-block;
    color: #e74c3c;
    text-decoration: none;
    border: 2px solid #e74c3c;
    border-radius: 24px;
    padding: 8px 40px;
    transition: 0.4s linear;
}

.about a:hover {
    color: #fff;
    background: #e74c3c;
}

.skills {
    padding-left: 30px;
}

.skill {
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 15px;
}

.progress-bar {
    height: 15px;
    background: #e74c3c;
    border-radius: 15px;
}

.p6 {
    width: 95%;
}

.p5 {
    width: 60%;
}

.p3 {
    width: 90%;
}

.progress-bar span {
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
}

.footer {
    /* max-width: 100%;
    margin-left: 35%;
    margin-right: 35%; */
    font-size: 1rem;
}

@media screen and (max-width:700px) {
    .about-section-col {
        flex: 100%;
        margin: 10px 0;
    }
    .about-section {
        margin-top: 10%;
    }
    .about,
    .skills {
        padding: 0;
    }
    .about {
        text-align: center;
    }
    .footer {
        font-size: 0.7rem;
        /* margin-left: 30%;
        margin-right: 30%; */
    }
}
