@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*----- VARIABLES CSS Y SASS -----*/


/*Varibles sass*/


/*Variables css*/


/*Colores*/

:root {
    --first-color: #5fd2ff;
    --black-color: #000;
    --white-color: #FFF;
    --load-color: #E8E8E8;
}


/*Fuente y tipografia*/

:root {
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 0.93rem;
    --small-font-size: 0.81rem;
}

@media screen and (min-width: 768px) {
     :root {
        --h1-font-size: 4.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.7rem;
        --normal-font-size: 1rem;
        --small-font-size: 1.37rem;
    }
}

html {
    scroll-behavior: smooth;
}


/*z index*/

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/*----- BASE -----*/

*,
 ::before,
 ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 3rem 0 0 0;
    font-family: var(--body-font);
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 700;
}

h1,
h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*----- LAYOUT -----*/

.bd-grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}


/*--Social media icon--*/

.fa {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
    z-index: var(--z-tooltip);
}

.fa:hover {
    opacity: 0.7;
    color: black;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #ff0d9a;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-whatsapp {
    background: #4FCE5D;
    color: white;
}

.no{
    margin-top:15px;
}

/*----- PAGES -----*/


/*Nav*/

.nav {
     height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--first-color)));
        background-image: linear-gradient(var(--white-color), var(--first-color));
        width: 100%;
        height: 30%;
        padding: 1.5rem;
        border-radius: 0 0 1rem 1rem;
        -webkit-transition: .5s;
        transition: .5s;
    }
    .home__pressent {
        font-size: var(--small-font-size);
    }
    .home__title {
        font-size: var(--h2-font-size);
    }
    .home__skill {
        font-size: var(--h3-font-size);
    }
    .l-main {
        height: 20vh;
    }
    .home__social {
        /* display: none; */
        padding: 1rem;
    }
    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        z-index: var(--z-tooltip);
    }
    .img-fluid{
        width:150px;
        margin-left:160px;
    }
}

.nav__list {
    text-align: center;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__links {
    color: var(--text-color);
}

.nav__links:hover {
    position: relative;
    text-decoration: none;
    color: var(--first-color);
}

.nav__links:hover::after {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 0.1875rem;
    left: 0.125rem;
    top: 2.125rem;
    background-color: var(--first-color);
}

.logo {
    width: 3rem;
    height: rem;
    text-align: center;
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}


/*Aparecer menu*/

.show {
    top: 3rem;
}


/*Home*/

.l-main {
    height: calc(100vh - 1rem);
    background-color: var(--white-color);
}

.home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: max-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    row-gap: 2.3rem;
    height: 100%;
    font-weight: 700;
}

.home__information {
    padding-left: 1.5rem;
    border-left: 5px solid var(--black-color);
    z-index: var(--z-tooltip);
    margin-top:80px;
}

.home__pressent {
    font-size: var(--small-font-size);
}

.home__title {
    font-size: var(--h1-font-size);
}

.home__skill {
    font-size: var(--h2-font-size);
}

.home__button {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: .75rem;
    color: var(--black-color);
    padding: .625rem 1rem;
    border-radius: .25rem;
}

.home__button:hover {
    text-decoration: none;
}

.home__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 1rem;
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 291px;
    z-index: var(--z-normal);
}


/*----- MEDIA QUERIES -----*/

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .l-main {
        height: 70vh;
    }
    .nav {
        height: 4rem;
    }
    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__link {
        text-transform: initial;
        color: var(--black-color);
    }
    .home {
        -ms-grid-rows: max-content 20px;
        grid-template-rows: -webkit-max-content 20px;
        grid-template-rows: max-content 20px;
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .home__information {
        margin-top: 10rem;
    }
    .home__social {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .home__img {
        width: 300px;
        right: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/*ANIMATE*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
}

.first {
    background-color: var(--load-color);
}

.second {
    background-color: var(--load-color);
    left: 33.3%;
}

.third {
    background-color: var(--load-color);
    left: 66.6%;
}
